@font-face {
    font-family: articletitle;
    src: url(../fonts/GothamMedium.ttf);
}
@font-face {
    font-family: articletext;
	src: url(../fonts/ChronicleDisplayLight.otf);
}
@font-face {
    font-family: articleinter;
	src: url(../fonts/ChronicleDisplayBlack.otf);
}
@font-face {
    font-family: articlecitation;
	src: url(../fonts/ChronicleDisplayBoldItalic.otf);
}

@mixin button() {
	display: inline-block;
	text-decoration: none;
}

$small-width: 70%;
$medium-width: 80%;
$large-width: 90%;

.wrapper {
	width: 800px;

.header {
	text-align: center;
	
	&__nav {
		margin-top: 30px;
		display: flex;
		justify-content: space-around;

		&__button {
			@include button();
			font-size: 10px;
			text-transform: uppercase;
			color: #050505;
			letter-spacing: 1px;

			&:hover {
				color: red;
			}
		}
	}
}

.article {
	width: 90%;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	background-color:#fafafa;
	border: lightgray;

	
	&__backbutton {
			@include button();
			margin-top: 30px;
			margin-bottom: 30px;
			font-size: 15px;
			letter-spacing: 1px;
	}

	&__title {
		background-color: #fafafa;
		padding-bottom: 30px;
		margin: auto;
	
		//width: $medium-width;
		
		&__img {
			position: relative;
			z-index: 1;
			margin: auto;
			width: 100%;
		}

		&__head {
			position: relative;

			z-index: 100;
			margin-top: -100px;
			margin-left: 10%;
			margin-right: 10%;
			padding-top: 40px;
			padding-left: 10%;
			padding-right: 10%;
			height: 100px;
			background-color: #fafafa;
			font-family: articletitle;
		}

		&__details {

			&__date {

			}

			&__auteur {
				
			}
		}

	}

	&__content {
		width: 80%;
		margin: auto;
		text-align: left;
		font-family: articletext;
		color: #5c6061;
		line-height: 1.5em;

		&__basic {
			padding-bottom: 10px;
			padding-top: 10px;
			
			
		}

		&__inter {
			font-family: articleinter;

		}
		
		&__illus {
			width: 100%;
			margin: auto;
			
		}

		&__citation {
			font-family: articlecitation;
			font-size: 1.5em;
			color: darkgrey;
			width: 80%;
			margin: auto;

		}

		&__bigillus {
			margin: auto;
			width: 120%;
		}

	}


}

}